.popup__container {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 22px;
    border-radius: 10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
    max-width: 430px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
    .popup__container {
        padding: 34px 36px 37px 36px;
    }
}