.form__button-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: 0;
    padding: 5px;
    transform: translate(5px, -36px);
    transition: transform .5s ease-in;
}

/*todo*/
.form__button-close img {
    max-width: 20px;
    max-height: 20px;
}


@media (min-width: 768px) {
    .form__button-close {
        transform: translate(43px, -43px);
    }

    .form__button-close img {
        max-width: 32px;
        max-height: 32px;
    }
}