.profile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    max-width: 880px;
    height: 100%;
    padding: 42px 19px 18px 19px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .profile {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 19px 25px 19px;
        gap: 60px;
    }
}

@media (min-width: 1024px) {
    .profile {
        padding: 40px 0 25px 0;
    }
}