.header__logo {
    min-width: 104px;
    min-height: 24px;
    transition: all .5s ease-in;
}

@media (min-width: 768px) {
    .header__logo {
        min-width: 142px;
        min-height: 33px;
    }
}