.header {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 880px;
    min-height: 84px;
    padding: 0 27px;
    margin: 0 auto;
    transition: min-height .5s ease-in;
}

@media (min-width: 768px) {
    .header {
        min-height: 119px;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 0;
    }
}