.popup-show-photo__description {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(15 / 12 * 100%);
    color: #fff;
    align-self: flex-start;
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 0;
    margin: 0;
}
