.popup__form {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    max-width: 430px;
    border-radius: 10px;
    transform: scale(0);
    transition: all .4s ease-in-out;
}