.profile__description {
    font-size: 14px;
    line-height: calc(17 / 14 * 100%);
    font-weight: 400;
    grid-row: 2/3;
    grid-column: 1/-1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .profile__description {
        font-size: 18px;
        line-height: calc(22 / 18 * 100%);
    }
}