.profile__add-icon {
    width: 100%;
    height: 100%;
    max-width: 18px;
    max-height: 18px;
}

@media (min-width: 768px) {
    .profile__add-icon {
        max-width: 22px;
        max-height: 22px;
    }
}