.popup__button-close {
    position: absolute;
    background: url("../../../images/page/popup/popup__button-close.svg") center no-repeat;
    background-size: 20px 20px;
    min-width: 20px;
    min-height: 20px;
    top: 0;
    right: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
    transform: translate(0, -36px);
    transition: transform .5s ease-in;
}

@media (min-width: 768px) {
    .popup__button-close {
        min-width: 32px;
        min-height: 32px;
        background-size: 32px 32px;
        transform: translate(40px, -40px);
    }
}