.profile__settings {
    color: #fff;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    align-items: baseline;
    text-align: center;
    column-gap: 10px;
    row-gap: 8px;
    margin: 0;
}

@media (min-width: 768px) {
    .profile__settings {
        flex: 1 1 auto;
        justify-items: stretch;
        column-gap: 18px;
        row-gap: 9px;
        text-align: left;
    }
}