.profile__add-button {
    position: relative;
    background: url("../../../images/page/profile/profile__add-button.svg") center no-repeat;
    background-size: 18px 18px;
    border: 2px solid #fff;
    border-radius: 2px;
    flex: 1 1 auto;
    width: 100%;
    min-height: 50px;
}

@media (min-width: 768px) {
    .profile__add-button {
        max-width: 150px;
        background-size: 22px 22px;
    }
}