.form__input {
    font-size: 14px;
    line-height: calc(17 / 14 * 100%);
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    outline: 0;
    padding: 0 0 10px 0;
    margin: 0;
}